<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Story{% endblock %}</title>
    
    {% load static %}
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


    <script src="https://cdn.tiny.cloud/1/h1jz6d9xttu6bz1hsi7nyginwsxowh8nusj41k6bl6qj9o7z/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'link image lists table media',
            toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media',
            height: 500,
            menubar: false,
            branding: false
        });
    </script>
    
    <style>
        .header-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        .header-container {
            text-align: center;
        }
    </style>
</head>
<body class="w3-light-grey">

    <!-- Navbar -->
    <div class="w3-bar w3-dark-grey">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-blue w3-margin w3-hover-light-blue">Home</a>
        
        {% if user.is_authenticated %}
            <a href="{% url 'new_chapter' %}" class="w3-bar-item w3-button w3-margin w3-blue w3-hover-light-blue">New Chapter</a>
            <form method="POST" action="{% url 'logout' %}" class="w3-bar-item w3-right">
                {% csrf_token %}
                <button class="w3-button w3-red w3-hover-pale-red">Logout</button>
            </form>
                
        {% else %}
            <a href="{% url 'register' %}" class="w3-bar-item w3-button w3-green w3-margin w3-hover-light-blue w3-right">Register</a>
            <a href="{% url 'login' %}" class="w3-bar-item w3-button w3-blue w3-margin w3-hover-light-blue w3-right">Login</a>
        {% endif %}
    </div>

    <!-- Header -->
    <header>
        <div class="w3-container header-container w3-dark-grey w3-border-top w3-border-bottom w3-border green">
            <h1>A Story of an Ordinary Man</h1>
            <img src="{% static 'images/P in Positano.jpg' %}" class="w3-round header-image w3-border" alt="Me">
            <p><h4>Through the simplicity of my existence, I unearthed the profound truth that to love and to be loved is the greatest adventure of all...</h4></p>
        </div>  
    </header>
    

    
    <!-- Main Content -->
    <main>
        <div class="w3-container w3-light-grey">
            {% block content %}
            {% endblock %}
        </div>
    </main>
   <hr/> 
<footer>
    <!-- Footer -->
    <footer class="w3-dark-grey w3-padding w3-center">
        <p>&copy; 2021 A Story of an Ordinary

    </footer>
</body>
</html>

