{% extends "base.html" %}



{% block content %}
<style>
    .narrow-list {
        max-width: 300px; /* Adjust the width as needed */
        margin: 0 auto;
     
    }
</style>

<div class="w3-container w3-center">
<h1>All Chapters</h1>
<a href="{% url 'new_chapter' %}" class="w3-button w3-blue w3-round w3-margin-bottom">
    Create New Chapter
</a>
</div>
<div class="w3-container ">
    <div class="w3-row">
        <ul class="w3-ul narrow-list">
            {% for chapter in page_obj %}
                <li class="w3-padding w3-border">
                    <a href="{% url 'chapter_detail' slug=chapter.slug %}" class="w3-text-blue w3-hover-text-blue">
                        {{ chapter.title }}
                    </a>
                </li>
            {% empty %}
                <p>No chapters found.</p>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Pagination controls -->
<div class="w3-center w3-margin-top">
    <div class="w3-bar">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="w3-bar-item w3-button w3-blue">First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="w3-bar-item w3-button w3-blue">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="w3-bar-item w3-button w3-blue">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}" class="w3-bar-item w3-button">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="w3-bar-item w3-button w3-blue">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="w3-bar-item w3-button w3-blue">Last</a>
        {% endif %}
    </div>
</div>

{% endblock %}
